/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td,img { padding: 0; margin: 0; } 
fieldset,img { border:0;} 
address,caption,cite,code,dfn,em,strong,th,var,i { font-weight: normal; font-style: normal;} 
ol,ul,li { list-style: none; } 
div,dl,dt,dd,ul,ol,li{_zoom:1; }
caption,th { text-align: left; } 
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%; } 
q:before,q:after {content:'';} 
abbr,acronym { border: 0; }
/*-- All --*/ 
body{ font:12px Georgia,Arial,"Microsoft YaHei",sans-serif;}
a{text-decoration:none; outline:none;color:#333; cursor:pointer}
a:link{color:#404040}
a:visited{color:#404040;}
a:hover{color:#D00; text-decoration:underline;}
a:active{color:#A10000;}
a.Red{color:#D00; }
a.red{ background:#aaa; padding:3px 10px; color:white;}
a.red:hover{ background:#dd0000;}
table { border-collapse: collapse; border-spacing: 0; empty-cells:show; } 
/*重复样式*/
.wrapper{ width:1002px; margin:0 auto;}
.rightborder {background: url(../images/top2libj.jpg) no-repeat scroll right 10px;}
#red{color:#a10000;}
/*=========顶部样式=========*/
.top1{ width:100%; height:37px; margin:0 auto; font-size:12px;}
.top2{width:1002px;height:37px;margin:0 auto;}
.top2 .top2_left{float:left;line-height:37px;}
.top2 .top2_left a{margin-right:10px;}


.q_sy{height:37px; float:left;line-height:37px;display:inline-block;}
.top2 .top2_left em{font-size:12px; position:relative;vertical-align:middle;float:left;display:inline-block;}
.top2 .top2_left em .red{ margin:0;background:#aaa; padding:3px 10px; color:white;margin-right:10px;}
.top2 .top2_left em label{margin:0;padding:0;top:0;}
.top2 .top2_left font a{color:#fff;margin-right:0;padding:3px 10px;background:#A10000;font-size:12px;}
.top2 .top2_left font a:hover,.top2 .top2_left em .q_login a:hover{background:#d00;}
.top2 .top2_left em .q_login{position:absolute;left:0;top:30px;line-height:22px;background:#AAAAAA;text-align:left;padding:2px 0;visibility:hidden;width:120px;z-index:999;}
.top2 .top2_left .q_dlw em .q_login{width:130px;}
.top2 .top2_left em:hover .q_login{visibility:visible;}
.top2 .top2_left em table{position:absolute;top:0; left:0; z-index:101;}
.top2 .top2_left em a.hover{display:inline-block;}
.top2 .top2_left em a.hover:hover .q_login{visibility:visible;}
*html .top1 .top2 .top2_left em .q_login{top:30px; }
.top2 .top2_left em .q_login a{display:block;width:100px;padding:0 10px;background:#aaa;color:#fff;margin-right:0;}
.top2 .top2_left .q_dlw em .q_login a{width:110px;}
.top2 .top2_left em a.hover:hover{background:#fafafa;}
.q_dl{float:left;display:inline-block; height:37px;_margin-top:-13px;}

.top2 .top2_left .zhuce{float:left;display:block;width:90px;text-align:center;margin-top:10px;height:16px;line-height:16px;}
.top2 .top2_right{float:right;height:37px; width:460px;}
.top2 .top2_right ul li{float:right;padding-top:7px;margin-left:10px;display:inline;position:relative;}
.top2 .top2_right ul li a:hover{color:#F00 !important;}
.top2 .top2_right ul li.cart{width:112px;height:30px;}
.top2 .top2_right ul li.cart a{width:102px;height:16px;display:inline-block;padding:2px 5px 2px 5px;background-color:#FFF;}
.top2 .top2_right ul li.cart .menu{width:102px;height:16px;line-height:16px;position:relative;}
.top2 .top2_right ul li.cart .menu #shopit{color:#CC3333;height:auto;position:absolute;}
.top2 .top2_right ul li.cart .menu #shopit a{width:95px;height:26px;padding:0px;display:block;text-align:center;line-height:26px;}
.top2 .top2_right ul li.cart .menu #shopit a:hover{text-decoration:underline;}
.top2 .top2_right ul li.cart .menu .menu-hd{width:95px;color:#333333;display:inline-block;border:1px solid #CCC;position:relative;z-index:10;}
.top2 .top2_right ul li.cart .menu .menu-hd s{display:inline-block;width:15px;height:16px;background:url(../images/indexbg.gif) no-repeat 0 -92px;float:left;}
.top2 .top2_right ul li.cart .menu .menu-hd span{width:80px;float:left;text-align:center;}
.top2 .top2_right ul li.cart .menu .menu-hd .mc-count{color:#a10000;font-weight:bold;font-style:normal;}
.top2 .top2_right ul li .menu .menu-hd b{display:inline-block;width:7px;height:16px;float:right;background:url(../images/indexbg.gif) no-repeat right -84px;}
.top2 .top2_right ul li .menu:hover .menu-hd b{background:url(../images/indexbg.gif) no-repeat right -100px;}
.top2 .top2_right ul li .menu .menu-bd{display:none;position:absolute;z-index:105;left:0px;top:20px;border:1px solid #CCC;background-color:#FFF;padding:5px;}
.top2 .top2_right ul li .menu .menu-bd dl{border-bottom:1px solid #E5E5E5;color:#666;font-size:12px;padding:5px 0px;}
.top2 .top2_right ul li .menu .menu-bd dl dt{width:100%;font-weight:bold;}
.top2 .top2_right ul li .menu .menu-bd dl dd a{color:#666666;}
.top2 .top2_right ul li.sitnav{width:75px;height:30px;}
.top2 .top2_right ul li.sitnav a{display: inline-block;height: 16px;padding: 2px 5px;width: 75px;}
.top2 .top2_right ul li.sitnav .menu{width: 75px;height:16px;line-height:16px;}
.top2 .top2_right ul li.sitnav .menu .menu-hd{color: #333333;display: inline-block;position: relative;width: 65px;z-index: 10;}
.top2 .top2_right ul li.sitnav .menu .menu-hd span{width:50px;float:left;text-align:center;}
.top2 .top2_right ul li.hottelphone{font-weight:bold;color:#A10000;padding-top:10px;}
.top2 .top2_right ul li.collect{padding-top:10px;}
.top2 .top2_right ul li.collect a{color:#333333;}


.top2 .top2_left a{margin-right:10px;}
.top2 .top2_left a{font-size:12px;width:100px;position:relative;}
.top2 .a1{ height:20px;}
.top2 .top2_left a.red{ background:#aaa; padding:3px 10px; color:white;margin-right:10px;}
.top2 .q_login{position:absolute;visibility:hidden;left:0;top:20px;width:100px; height:24px;line-height:22px;background:#AAAAAA;text-align:left;padding:2px 0;}
.top2 .top2_left a:hover .q_login{visibility:visible;}
.top2 .top2_left a:hover{}

a.weibo{padding:0 20px 0 25px;height:18px;line-height:18px;margin-left:20px;display:inline-block;background:url(../images/indexbg.gif) no-repeat -30px -544px;font-weight:normal;text-decoration:none;}
a.qq{padding:0px 42px 0px 25px;;height:18px;line-height:18px;margin-left:20px;display:inline-block;background:url(../images/qq_login.png) no-repeat 0px 0px;font-weight:normal;text-decoration:none;}


/*=========顶部样式=========*/

/*header*/
#header{width:1002px;overflow:hidden;margin:8px auto 0;}
#header .headerL{float:left;width:500px; height:85px; background:url(../images/logobj.gif) no-repeat 190px 10px;}
#header .headerL .logo a{width:182px; height:71px;display:block;}
#header .headerR{width:493px;float:right;}
#header .headerR .tsearch-tab{width:100%;height:18px;overflow:hidden;}
#header .headerR .tsearch-tab li{float:left;margin-right:10px}
#header .headerR .tsearch-tab li a{display:inline-block;color:#333333;padding:2px 0;font-size:12px;}
#header .headerR .tsearch-tab li.current{background:#9b0500 url(../images/indexbg.gif) no-repeat left -146px;}
#header .headerR .tsearch-tab li.current a{padding:2px 10px 2px 10px;color:#FFF;font-weight:bold;background:url(../images/indexbg.gif) no-repeat right -146px;}
#header .headerR .tsearch-panel{width:100%;height:36px;background:url(../images/indexbg.gif) no-repeat left -164px;}
#header .headerR .tsearch-panel span{display:block;height:28px;margin-left:5px;background:#880400 url(../images/indexbg.gif) no-repeat right -302px;padding:4px 5px 4px 0;}
#header .headerR .tsearch-panel span input.searchinputs{width:385px;height:26px;line-height:26px;background:#FFF url(../images/indexbg.gif) no-repeat 2px -220px;border:1px solid #FFF;float:left;padding-left:20px;_width:382px;}
#header .headerR .tsearch-panel span input.searchbtn{width:67px;height:28px;float:right;padding:0px 5px 0px 5px;background:url(../images/indexbg.gif) no-repeat right -475px;display:inline-block;border:none; cursor:pointer;}
#header .headerR .tsearch-hot{width:100%;overflow:hidden;font-size:12px;line-height:22px;height:22px;}
#header .headerR .tsearch-hot a{color:#7d7d7d;margin-right:15px;padding:0;margin-left:0;_margin-right:12px;}
#header .headerR .tsearch-hot a:hover{color:#d92a27;text-decoration:underline;}
/*导航*/
#nav{margin:5px auto 0;background:url(../images/nav_bgg.jpg) repeat-x 0 0;width:100%;height:50px;}
#nav ul{width:1002px;margin:0 auto;}
#nav ul li{position:relative;float:left;text-align:center;z-index:3;position:relative;}
#nav ul li ol{width:120px;display:none;position:absolute;z-index:10000;top:46px; left:2px;background:#fff;padding:0px;box-shadow:0 2px 4px #666;}
#nav ul li ol li{width:120px;line-height:40px;text-align:center;background:none !important;border-bottom:1px dotted #d1d1d1;padding:0px !important;}
#nav ul li ol li a{font-size:14px;color:#000;display:block;padding:0;width:120px;height:36px;line-height:36px;}
#nav ul li ol li a:hover{text-decoration:underline;background-color:#bb1212;color:#fff;background-image:none;padding:0;height:36px;line-height:36px;}

#nav ul li a{display:inline-block;color:#fff;font-weight:bold;height:46px;line-height:46px;font-size:16px;width:125px;text-decoration:none;}
#nav ul li a font{display:inline-block;background:url(../images/nava.gif) no-repeat;padding-left:16px}
#nav ul li a.current,#nav ul li a:hover{background:url(../images/indexbg.gif) no-repeat center -622px;color:#fff;line-height:46px}
#nav ul li.nav1 a font{background-position:0 20px}
#nav ul li.nav2 a font{background-position:0 -10px}
#nav ul li.nav3 a font{background-position:0 -100px}
#nav ul li.nav4 a font{background-position:0 -40px}
#nav ul li.nav5 a font{background-position:0 -70px}
#nav ul li.nav6 a font{background-position:0 -130px}
#nav ul li.nav7 a font{background-position:0 -162px}
#nav ul li.nav8 a font{background-position:0 -162px}
#nav ul li.nav1 a.current font,#nav ul li.nav1 a:hover font{background:none;}
#nav ul li.nav2 a.current font,#nav ul li.nav2 a:hover font{background:none;}
#nav ul li.nav3 a.current font,#nav ul li.nav3 a:hover font{background:none;}
#nav ul li.nav4 a.current font,#nav ul li.nav4 a:hover font{background:none;}
#nav ul li.nav5 a.current font,#nav ul li.nav5 a:hover font{background:none;}
#nav ul li.nav6 a.current font,#nav ul li.nav6 a:hover font{background:none;}
#nav ul li.nav7 a.current font,#nav ul li.nav7 a:hover font{background:none;}
#nav ul li.nav8 a.current font,#nav ul li.nav8 a:hover font{background:none;}
#nav ul li ul li{clear:both;background:url(../images/navbg.gif) repeat-x bottom;height:42px;line-height:42px}
#nav ul li ul li a,#nav ul li li a.current{background:none;color:#fff;width:120px;text-align:center;font-size:14px;line-height:42px;}
#nav ul li ul li a:hover,#nav ul li li a.current:hover{background:url(../images/navbghover.png) repeat-x bottom;color:#eee;border:none;line-height:42px;}
#nav ul li.nav3 li a font{line-height:32px;width:30px;padding:0;}
#nav ul li.nav3 li a.current font{background-position:0 -195px;line-height:42px}
/*底部*/		
.footer{width:1002px;margin:0 auto;clear:both;}
.footer span{display:block;margin:15px 0 0;text-align:center;}
/*.footer span a{margin:0px 5px;background:url(../images/font_bg.gif) no-repeat;display:inline-block;width:110px;height:40px;}*/
.footer span a.hz1{background-position:0 -80px;}
.footer span a.hz2{background-position:0 -120px;}
.footer span a.hz3{background-position:0 -160px;}
.footer p{text-align:left;line-height:24px;font-size:12px;}
.footer p a{margin:0px 5px;}
.footer .foot-help{width:1000px;margin:0 auto;margin:15px auto 0;border:1px solid #CCC;overflow:hidden;}
.footer .foot-help div.font_t {width:103px;float:left;padding:0 10px 10px;border-right:1px dashed #ddd;}
.weixin div{width:160px;text-align:center;float:left}
.weixin img{margin-top:20px;margin-left:20px;}
.footer .foot-help div span{text-indent:15px;display:block;height:20px;font-size:14px;font-weight:bold;text-align:left;}
.footer .foot-help div font{text-indent:10px;display:block;height:28px;font-size:12px;text-align:left;margin:10px 0;color:#999}
.footer .foot-help div font em{display:inline-block;background:url(../images/weixin_logo.gif) no-repeat;width:30px;height:26px;margin-right:10px;vertical-align:middle;}
.footer .foot-help div ul{overflow:hidden;}
.footer .foot-help div li{padding-left:15px;line-height:22px;font-size:12px;background:url(../images/font_bg.gif) no-repeat left -206px;}
.footer .foot-help .foot-nav{padding:0 10px 10px;width:180px;float:left;border-right:1px dashed #ddd;}
.footer .foot-help .foot-nav li{float:left;width:100%;}
.footer .foot-help .foot_border{height:1px;overflow:hidden;background:#ccc;padding:0;margin:10px 0;}
.foot_border span{display:block;height:1px;overflow:hidden;background:#ff0000;width:40px;margin:0;}
.footer .copy{overflow:hidden;margin-top:20px;}
.footer .copy .left{float:left;width:460px;padding:10px 40px 10px 0;border-right:1px #F2F2F2 solid;text-align:right;}
.footer .copy .left img{vertical-align:middle;}
.footer .copy .left em.hezuo{width:52px;height:40px;vertical-align:middle;}
.footer .copy .right{float:left;width:460px;margin-left:40px;}
/*本地服务头部*/
.Bl_zone{float:right; height:66px;position:relative; width:150px;}
#Bl_city{ font-size:32px;}
#hiddendiv{display:none; width:330px;min-height:200px;_height:200px; border:2px solid #eeeeee;position:absolute;top:62px; left:286px;background:#fff;z-index:100;}
#hiddendiv div{height:23px; line-height:23px;background:#f1f1f1; text-indent:12px; }
#hiddendiv div em{float:right; font-style:normal;margin-right:12px;}
#hiddendiva{display:block;}
#hiddendiv span{ height:30px; line-height:30px;  width:90px; display:inline-block; float:left;margin:10px;text-align:center;background:#eee;}
#hiddendiv span a{ color:#333;  font-size:16px;}
#hiddendiv span.current{background:red;}
#hiddendiv span.current a{ color:white;  font-size:16px;}
/*二级菜单*/
.navM li ul{position:absolute;width:100px;left:-5px;margin-top:-2px;border:solid #000;border-width:0 2px 2px;background:#cf2526;padding:5px 0;display:none}
#nav .navM li li{clear:both;text-align:center;height:24px}
#nav .navM li li a{font-weight:normal;font-size:12px;color:#fff;padding-top:0;line-height:24px}
/*黄色提示框*/
.attention {background: #fffbcc url('../images/exclamation.png') 10px 11px no-repeat;color: #666452;}
.notification {position: relative;margin: 0 0 15px 0; padding: 0; border:1px solid #e6db55;background-position: 10px 11px !important;background-repeat: no-repeat !important;font-size: 13px;width: 99.8%;}
.notification div {display:block;font-style:normal;padding: 10px 10px 10px 36px;line-height: 1.5em;}
.notification .close {color:#990000; font-size:9px;position:absolute;right:5px;top:5px;width:7px; height:7px;background:url('../images/cross_grey_small.png') 0 0 no-repeat;overflow:hidden;}
.notification {-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
/*图片缩放*/
.jqzoom{border:1px solid #eee;float:left;position:relative;padding: 0;cursor: pointer;}
.jqzoom img{float:left;}
div.zoomdiv {z-index: 100;position: absolute;top:0px;left:0px;width: 100px;height: 100px;background:#fff;border:1px solid #ccc;display:none;text-align: center;overflow: hidden;}
div.jqZoomPup {z-index:10;visibility: hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#fff;opacity:0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}



@charset "utf-8";
*{margin: 0;padding:0;font-family:"微软雅黑","宋体";}
ul,ol,li,dl,dd,dt,span,p,font,b,small{ margin:0; padding:0;}
a{ text-decoration:none;}
img{ border:none; vertical-align:bottom;}
ul,ol{list-style: none;}
.sc_3{width:1001px; height:auto; margin:10px auto 0; overflow:hidden;}
.sc_3 ul{width:1000px; height:auto; border:solid #eee; border-width:1px 0px 0px 1px; overflow:hidden;}
.sc_3 ul li{width:249px; height:auto; border:solid #eee; border-width:0px 1px 1px 0px;overflow:hidden; float:left;}
.sc_2{width:247px; height:auto; border:1px solid #fff; overflow:hidden;padding-bottom:9px;text-align:center;line-height:30px;}
.sc_2 img{width:235px; height:235px; padding:6px;}
.sc_2 b{width:247px; height:30px; font-size:14px;  display:block;overflow: hidden }
.sc_2 b a{color:#333;}
.sc_2 b a:hover{color:#c51015;}
.sc_2 p{width:247px; height:30px;font-size:16px; color:#555;overflow:hidden;}
.sc_2 p font{ color:#b61e1e; font-size:16px;}
.sc_2 span{width:247px; height:30px;  font-size:14px; color:#999; display:block;text-decoration:line-through;overflow:hidden;}
.sc_2:hover{  border:1px solid #f00; }
.dp_1{width:1000px; height:35px; margin:10px auto 0; line-height:35px;overflow:hidden; background:url(../images/ban_bg.jpg) repeat-x; border:1px solid #eee;}
.dp_1 b{ display:block; width:auto; height:35px;  font-size:16px; width:249px; text-align:center; line-height:35px; overflow:hidden; color:#333;}
.dp_1 span{ display:block; height:35px; font-size:14px; width:249px; text-align:center; line-height:35px; overflow:hidden; color:#5d5d5d;}
.dp_1 span font{ color:#cc0000;}
.dp_2{width:1000px; height:auto; overflow:hidden; margin:0 auto 20px; overflow:hidden;}
.dp_2 dl{width:318px; height:auto; background-color:#fafafa; border:1px solid #eee; float:left; cursor:pointer; padding-bottom:9px; margin-top:20px; overflow:hidden;}
.dp_2 dl dd{width:318px; height:225px;}
.dp_2 dl dt{width:318px; height:auto; overflow:hidden;}
.dp_2 dl dt b{width:318px; height:40px; font-size:16px;  display:block; line-height:40px; text-align:center;}
.dp_2 dl dt b a{ color:#3364ce;}
.dp_2 dl dt p{width:298px; height:auto; font-size:12px; line-height:20px; padding:5px 10px 0px; color:#333;}
.dp_2 dl:hover{border:1px solid #d6162c;}
.dp_3{width:298px; height:20px; padding:10px;}
.dp_3 img{width:20px; height:20px; float:left; padding-right:5px;}
.dp_3 font{width:auto; height:20px; font-size:14px; color:#c70007; display:block; float:left; overflow:hidden;line-height:20px;}
.dp_3 small{width:auto; height:20px; background:url(../images/map.jpg) 0px 0px no-repeat; padding-left:20px; margin-left:20px; overflow:hidden; font-size:12px; line-height:20px; float:left; display:block; }
.dp_3 small a{color:#3364ce;}
.dp_3 span{width:auto; height:20px; background:url(../images/good.jpg) 0px 0px no-repeat; padding-left:20px; margin-left:20px; overflow:hidden; font-size:12px; line-height:20px; float:left; display:block; }
.dp_3 span a{color:#3364ce;}
del{font-size:12px; color:#333; margin-left:15px;}

